<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="title-center">Auction Manager</span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="inner-body">
  <br>
  <br>
  <mat-card>
    <div class="row">
      <div class="col-md-3 col-xs-12">
        <h4>Auction Type</h4>
        <mat-form-field appearance="outline">
          <mat-select placeholder="Select" [(ngModel)]="selectedAuction">
            <mat-option *ngFor="let auctionType of auctionTypes" [value]="auctionType.name">
              {{auctionType.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-3 col-xs-12">
        <h4>Property Type</h4>
        <mat-form-field appearance="outline">
          <mat-select placeholder="Select" [(ngModel)]="selectedPropertyType" (selectionChange)="onPropertyChange()">
            <mat-option *ngFor="let propertyType of propertyTypes" [value]="propertyType.name">
              {{propertyType.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-3 col-xs-12">
        <h4>Property Sub Type</h4>
        <mat-form-field appearance="outline">
          <mat-select placeholder="Select" [(ngModel)]="selectedPropertySubType">
            <mat-option *ngFor="let propertySubType of propertySubTypes" [value]="propertySubType.name">
              {{propertySubType.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-3 col-xs-12">
        <h4>State</h4>
        <mat-form-field appearance="outline">
          <mat-select placeholder="Select" [(ngModel)]="selectedState">
            <mat-option *ngFor="let state of states" [value]="state.name">
              {{state.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-xs-12">
        <h4>District</h4>
        <mat-form-field appearance="outline">
          <mat-select placeholder="Select" [(ngModel)]="selectedDistrict">
            <mat-option *ngFor="let food of states" [value]="food.name">
              {{food.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-3 col-xs-12">
        <h4>City</h4>
        <mat-form-field appearance="outline">
          <mat-select placeholder="Select" [(ngModel)]="selectedCity">
            <mat-option *ngFor="let food of states" [value]="food.name">
              {{food.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-3 col-xs-12">
        <h4>EMD Cost</h4>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Enter Cost">
        </mat-form-field>
      </div>
      <div class="col-md-3 col-xs-12">
        <h4>Property ID</h4>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Enter ID">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-xs-12">
        <h4>Reserved Price (From)</h4>
        <mat-form-field appearance="outline">
          <input matInput type="number" class="money-right-align" placeholder="0">
          <span matTextPrefix>₹&nbsp;</span>
          <span matTextSuffix>.00</span>
        </mat-form-field>
      </div>
      <div class="col-md-3 col-xs-12">
        <h4>Reserved Price (To)</h4>
        <mat-form-field appearance="outline">
          <input matInput type="number" class="money-right-align" placeholder="0">
          <span matTextPrefix>₹&nbsp;</span>
          <span matTextSuffix>.00</span>
        </mat-form-field>
      </div>
      <div class="col-md-3 col-xs-12">
        <h4>From Date</h4>
        <mat-form-field appearance="outline">
          <input matInput [matDatepicker]="selectedStartDate" placeholder="Choose a date" (dateChange)="addStartDateEvent($event)" readonly>
          <mat-datepicker-toggle matIconSuffix [for]="selectedStartDate" />
          <mat-datepicker #selectedStartDate></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-3 col-xs-12">
        <h4>To Date</h4>
        <mat-form-field appearance="outline">
          <input matInput [matDatepicker]="selectedEndDate" placeholder="Choose a date" (dateChange)="addEndDateEvent($event)" readonly>
          <mat-datepicker-toggle matIconSuffix [for]="selectedEndDate" />
          <mat-datepicker #selectedEndDate></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <br>
    <mat-divider></mat-divider>
    <br>
    <div class="row">
      <div class="col-md-6 col-xs-6 text-center">
        <button class="button-form" mat-flat-button color="primary" (click)="search()"><mat-icon class="icon-display">search</mat-icon>SEARCH</button>
      </div>
      <div class="col-md-6 col-xs-6 text-center">
        <button class="button-form" mat-flat-button color="accent" (click)="reset()"><mat-icon class="icon-display">refresh</mat-icon>RESET</button>
      </div>
    </div>
  </mat-card>
  <br>
  <br>
  <div class="table-container" [hidden]="dataSource.length == 0">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Weight </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>