html,
body {
    height: 100%;
    background-color: #F5F5F5;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card {
    margin: 0 auto;
    padding: 30px 30px;
    width: fit-content;
}

.title-center {
    margin: 0 auto;
    color: white;
}

mat-form-field {
    width: 100%;
}

.table-container {
    margin: 0 30px;
    padding: 30px;
}

.button-form {
    width: 150px !important;
    height: 50px !important;
}

.icon-display {
    transform: scale(1.8);
}

.mat-button,
.mat-flat-button,
.mat-icon-button,
.mat-stroked-button {
    border-radius: 0px;
}

.money-right-align {
    text-align: right;
}

input.money-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

input.money-right-align {
    -moz-appearance: textfield;
}